<div class="container">
  <h1>Hello everyone</h1>

  <%= link_to 'My Blog', controller: 'articles' %>


  <div class="text-center">
     <%= image_tag("My Blog.jpg", width:"800", height:"800")%>
  </div>
</div>


